
<div class = "title-container"> 
<h1> All Techniques </h1>
</div>
<div class = "techniques">
<ol type =1>
<% @techniques.each do |technique| %>
<div class = "technique">

<li><spun style="color:blue;"><%= technique.name %></spun> - <%= technique.description %></li>
<br>
</div>
<% end %>

</ol>
</div>