<h2> All Meditations </h2>

<% @meditations.each do |m| %>
<h4> <%= link_to m.mood, meditation_path(m.id)%> - <%= m.technique.name %> </h4>
<%= link_to "Write A Review", new_meditation_review_path(m.id) %>
<div>
<p><%= m. duration %></p>
</div>
<% end %>